.contanir {
  margin-left: 10%;
  margin-right: 10%;
}

.heading {
  color: rgb(0, 208, 255);
  font-size: 50px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header ul {
  list-style: none;
  display: flex;
}

.header ul li {
  width: 60px;
}
.header ul li a {
  text-decoration: none;
}

img {
  width: 500px;
  height: 500px;
}
.footer {
  margin-top: 70px;
}
.footer ul {
  list-style: none;
  padding: 0%;
  margin: 0%;
}
.footer ul li {
padding: auto; 
}
